.flexcontainer {
    border: 3px solid blue;
    display: flex;
    flex-direction: row;
}

.box1 { 
    margin: 10px;
    background-color: pink;
    flex-basis: 40%;
    flex-grow: 1;
}
.box2 { 
    margin: 10px;
    background-color: cyan;
    flex-basis: 100%;
}
.box3 { 
    margin: 10px;
    background-color: orange;
    flex: 0 1 auto;
}